body {
  background-color: #121212;
  font-family: Agrandir, sans-serif;
  color: #121212;
  font-size: 1vw;
  line-height: 1.6;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Agrandir, sans-serif;
  font-size: 3.33em;
  line-height: 0.96;
  font-weight: 900;
  letter-spacing: 0em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Agrandir, sans-serif;
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: 900;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Caxton;
  font-size: 6.56em;
  line-height: 0.9;
  font-weight: 700;
  letter-spacing: -0.08em;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Agrandir, sans-serif;
  font-size: 1.67em;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.46em;
  line-height: 0.99;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.46em;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Agrandir, sans-serif;
  font-size: 1.04em;
  line-height: 1.4;
  font-weight: 400;
  text-transform: none;
}

a {
  font-family: Agrandir, sans-serif;
  line-height: 1.2;
  text-decoration: none;
  text-transform: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

em {
  font-style: italic;
}

blockquote {
  margin-bottom: 1em;
  margin-left: 1.2em;
  padding: 1em 2em;
  border-left: 0.2em solid #fff;
  font-size: 1.2em;
  line-height: 1.6;
}

.container {
  z-index: 1;
  width: 1560px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 2.7em 6.25em;
}

.container.is--hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 15.42em;
  padding-bottom: 12.95em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.container.is--navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  padding: 0.8em 2em;
}

.container.is--footer {
  padding-top: 6.25em;
  padding-bottom: 6.25em;
}

.container.is--project {
  padding-top: 6.25em;
  padding-bottom: 6.25em;
}

.container.is--project-hero {
  padding-top: 8em;
  padding-bottom: 0em;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.container.is--project-body {
  padding-top: 6.25em;
  padding-bottom: 0em;
}

.container.is--navbar-bottom {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 20000;
  padding: 0.8em 2em;
}

.container.is--next-proj {
  padding-top: 0em;
}

.container.is--next-project {
  padding-top: 6.25em;
  padding-bottom: 0em;
}

.html {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

.nav-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section {
  position: relative;
  z-index: 2;
}

.section.is--nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  padding-bottom: 11px;
}

.section.is--nav-bottom {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1000;
  border-bottom: 1px solid #b798c1;
}

.section.is--hero {
  height: 100vh;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
}

.display {
  position: relative;
  font-family: Agrandir, sans-serif;
  font-size: 5.4em;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}

.display.is--mail {
  -webkit-transition: opacity 200ms cubic-bezier(.455, .03, .515, .955);
  transition: opacity 200ms cubic-bezier(.455, .03, .515, .955);
}

.display.is--mail:hover {
  opacity: 0.8;
}

.display.is--project {
  width: 100%;
  font-size: 4em;
  line-height: 1.2;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid.is--resources {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid.is--footer {
  position: relative;
}

.grid.is--nav {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.grid.is--body {
  width: 80%;
}

.grid.is--body.is--hero {
  position: relative;
  width: 90%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 0%;
  perspective-origin: 50% 0%;
}

.grid.is--nav-top {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid.is--proj {
  display: -ms-grid;
  display: grid;
  width: 80%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.is--proj-alt {
  display: -ms-grid;
  display: grid;
  width: 80%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 40% 60%;
  grid-template-columns: 40% 60%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid.is--nav-bottom {
  z-index: 100000;
  width: 10%;
  margin-right: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.grid_item {
  width: 100%;
  padding: 1.04em;
  color: #000;
}

.grid_item.is--social {
  width: 10%;
}

.grid_item.is--footer-copyright {
  padding-top: 1.64em;
  color: rgba(183, 152, 193, 0.3);
}

.grid_item.is--footer-top {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: auto;
}

.grid_item.is--nav-logo {
  width: 20%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.grid_item.is--menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid_item.is--hamburger {
  display: none;
}

.grid_item.is--menu-bottom {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.grid_item.is--about__header {
  width: 25%;
}

.grid_item.is--about__para-3 {
  width: 37.5%;
}

.grid_item.is--about__img {
  width: 37.5%;
}

.grid_item.is--about__para-4 {
  width: 50%;
}

.grid_item.is--about__para-5 {
  width: 62.5%;
  margin-left: auto;
}

.grid_item.is--project__text-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid_item.is--contact--footer {
  margin-top: 6.04em;
  margin-left: auto;
}

.grid_item.is--contact--footer-caption {
  margin-top: 6.04em;
}

.grid_item.is--project-yr {
  width: 20%;
}

.grid_item.is--project-pos {
  width: 40%;
}

.grid_item.is--proj__img {
  width: 100%;
  height: 36em;
}

.grid_item.is--hero-text {
  overflow: hidden;
  padding-top: 0em;
  padding-bottom: 0em;
}

.grid_item.is--menu__bottom {
  position: relative;
  display: block;
  width: 10%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid_item.is--sticky-logo {
  display: none;
  width: 10%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.grid_item.is--service-text {
  width: 100%;
  margin-bottom: 49px;
  text-transform: uppercase;
}

.grid_item.is--service__header {
  width: 100%;
}

.grid_item.is--proj-title {
  padding-top: 3em;
}

.main-button {
  position: relative;
  overflow: hidden;
  padding: 1.56em;
  border-style: solid;
  border-width: 3px;
  border-color: #b798c1;
  border-radius: 100vw;
  font-weight: 700;
  text-align: center;
}

.merch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.page-wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 8.13em 6em;
  text-align: center;
}

.social_link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social_circle {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(183, 152, 193, 0.3);
  border-radius: 100vw;
}

.social_icon {
  width: 2.2em;
  height: 2.8em;
  -o-object-fit: contain;
  object-fit: contain;
}

.social_icon.is--apple {
  margin-top: -0.6em;
}

.footer_top-img {
  width: 1.1em;
}

.nav_logo {
  font-size: 1vw;
}

.nav_logo.w--current {
  font-size: 1vw;
}

.menu_link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-right: 1.2em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #e8e8e8;
  font-size: 1vw;
  font-weight: 700;
  text-align: center;
}

.menu_button:hover {
  color: #e8e8e8;
}

.menu_button.nav {
  display: none;
}

.hamburger_icon {
  width: 100%;
}

.grain {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: block;
  background-image: var(--image-7d4eb416);
  background-position: 50% 50%;
  background-size: auto;
  opacity: 0.04;
}

.grain.is--menu {
  display: none;
}

.resources_circle-contain {
  padding: 3.6em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.main-body {
  height: 100vh;
  background-image: var(--image-i465d473a);
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-family: Agrandir, sans-serif;
}

.main-body.is--project {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.3)), to(hsla(0, 0%, 100%, 0.3))), var(--image-i465d473a);
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0.3)), var(--image-i465d473a);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.paragraph-small {
  font-size: 1em;
}

.nav--button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7.03em;
  height: 7.03em;
  padding: 1.25em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 100vw 100vw 0px;
  background-color: #121212;
}

.nav--button.is--bottom {
  display: none;
}

.button--text {
  font-family: Agrandir, sans-serif;
  font-size: 1.46em;
  letter-spacing: -0.02em;
  text-transform: none;
}

.nav--link.is--bp-0-42em {
  position: relative;
  padding-bottom: 0.42em;
}

.link--text {
  font-size: 1.67em;
}

.is--big {
  font-size: 1.4em;
  line-height: 1.5;
}

.about__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.is--pt-4-58em {
  padding-top: 4.58em;
}

.is--caption {
  font-size: 1.46em;
  text-transform: uppercase;
}

.is--pb-0-83em {
  margin-bottom: 0.83em;
}

.case__content-top {
  padding-bottom: 1.67em;
}

._w-2 {
  width: 25%;
}

._w-5 {
  width: 62.5%;
}

.padding-bottom-large {
  margin-bottom: 1.2em;
}

.is--project-detail {
  font-size: 1.67em;
  text-transform: none;
}

.is--upper-text {
  text-transform: uppercase;
}

.is--pb-4-58em {
  padding-bottom: 4.58em;
}

.proj__rich-text {
  font-size: 1.67em;
}

.hero__element-img {
  position: absolute;
  width: 10.94em;
  height: 10.94em;
}

.hero__element-img._2 {
  z-index: 1;
  margin-top: 4.79em;
  margin-left: -6.5%;
}

.hero__element-img._1 {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: -4em;
  margin-right: 5.19em;
  -webkit-transform: translate3d(0px, 0px, 105px);
  transform: translate3d(0px, 0px, 105px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hero__element-img._3 {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  margin-right: 14em;
  margin-bottom: 0.83em;
}

.is--5-6em-left {
  margin-left: 5.6em;
}

.heading {
  font-size: 1.46em;
  font-weight: 700;
}

.text-block {
  font-size: 1.67em;
}

.lottie-animation {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.body-background {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-image: var(--image-i464f2fb9);
  background-position: 0px 0px;
  background-size: cover;
}

.is--proj-heading {
  margin-bottom: 2em;
  text-transform: uppercase;
}

.footer-email {
  margin-top: 2em;
}

.footer-email:hover {
  background-image: var(--image-2893a1d2);
  background-position: 0px 0px;
  background-size: auto;
}

.footer__link {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 1em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 300ms cubic-bezier(.77, 0, .175, 1);
  transition: all 300ms cubic-bezier(.77, 0, .175, 1);
}

.footer__link:hover {
  -webkit-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
}

.link-wrapper__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: -4.9em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms cubic-bezier(.455, .03, .515, .955);
  transition: all 200ms cubic-bezier(.455, .03, .515, .955);
}

.link-wrapper__content:hover {
  margin-left: -0.9em;
}

.footer-link__arrow {
  width: 3em;
  margin-left: 1em;
}

.footer-link__arrow.left {
  margin-right: 1em;
}

.link-wrapper__content-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: -4.9em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms cubic-bezier(.455, .03, .515, .955);
  transition: all 200ms cubic-bezier(.455, .03, .515, .955);
}

.link-wrapper__content-copy:hover {
  margin-left: -0.9em;
}

.menu-button--text {
  font-family: Agrandir, sans-serif;
  font-size: 1.46em;
  letter-spacing: -0.02em;
  text-transform: none;
}

.hamburger_desc-text {
  display: none;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999999;
  display: none;
  width: 100%;
  height: 100%;
}

.preloader-container {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: inline-block;
  width: 50%;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #121212;
}

.preloader-container.is--right {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.lottie {
  width: 20%;
  height: 72px;
}

.preloader-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #121212;
}

.lottie-animation-2 {
  position: relative;
  z-index: 100000000000000;
  width: 12em;
}

.pointer-none {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9007199254740991;
}

.proj__img {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.3);
  -o-object-fit: cover;
  object-fit: cover;
}

.img_project--banner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.is--next-proj {
  text-transform: uppercase;
}

.padding-bottom-small {
  margin-bottom: 1.2em;
}

.link {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 7.7em;
  }

  h2 {
    font-size: 5em;
  }

  h4 {
    font-size: 3em;
  }

  p {
    font-size: 12px;
  }

  li {
    font-size: 20px;
  }

  blockquote {
    font-size: 24px;
  }

  .container {
    padding: 27px 3em;
  }

  .container.is--hero {
    padding-top: 2em;
    padding-bottom: 6.25em;
  }

  .container.is--navbar {
    padding-bottom: 3.4em;
  }

  .container.is--project-hero {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .container.is--navbar-bottom {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .display {
    font-size: 6.7em;
    line-height: 1.2;
  }

  .display.is--mail {
    font-size: 8em;
  }

  .display.is--project {
    font-size: 6em;
  }

  .grid.is--nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .grid.is--body {
    width: 90%;
  }

  .grid.is--body.is--hero {
    margin-top: 18.35em;
    margin-bottom: 12.25em;
  }

  .grid.is--nav-top {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .grid.is--proj {
    width: 90%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid.is--proj-alt {
    width: 90%;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .grid.is--nav-bottom {
    display: block;
    width: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .grid_item {
    padding-bottom: 7.54em;
  }

  .grid_item.is--social {
    width: 15%;
  }

  .grid_item.is--nav-logo {
    display: none;
    width: 10%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid_item.is--menu {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 0;
    display: none;
    overflow: visible;
    width: 100%;
    height: 100vh;
    padding: 95px 3.94em 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #b798c1;
    background-color: #121212;
  }

  .grid_item.is--hamburger {
    position: relative;
    z-index: 1;
    display: block;
    width: 10em;
    height: 10em;
    margin-top: 2em;
    margin-left: auto;
    padding: 2.74em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100vw;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(180deg, #fff, #fff);
  }

  .grid_item.is--menu-bottom {
    z-index: -1;
    display: none;
    width: 100%;
    padding-right: 0em;
    padding-left: 3.94em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    border-bottom: 1px solid #b798c1;
  }

  .grid_item.is--about__para-3 {
    width: 100%;
  }

  .grid_item.is--about__img {
    width: 100%;
  }

  .grid_item.is--about__para-4 {
    width: 70%;
  }

  .grid_item.is--about__para-5 {
    width: 70%;
  }

  .grid_item.is--project-yr {
    width: 30%;
    padding-bottom: 0em;
  }

  .grid_item.is--project-pos {
    width: 40%;
    padding-bottom: 0em;
  }

  .grid_item.is--proj__img {
    padding-bottom: 0em;
  }

  .grid_item.is--menu__bottom {
    z-index: -1;
    display: block;
    width: auto;
    padding: 0px 0em 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid_item.is--sticky-logo {
    display: none;
    width: 10%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid_item.is--proj-title {
    padding-bottom: 3em;
  }

  .merch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu_link {
    margin-right: 0em;
    padding: 5px 16px;
  }

  .menu_button {
    display: block;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 0px;
  }

  .menu_button.nav {
    display: block;
  }

  .grain.is--menu {
    display: block;
  }

  .main-body {
    background-image: none;
  }

  .paragraph-small {
    font-size: 2em;
  }

  .nav--button.is--bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 132px;
    height: 132px;
    margin-left: auto;
  }

  .nav--button.menu {
    width: 100%;
  }

  .button--text {
    font-size: 3em;
    text-align: center;
  }

  .is--big {
    font-size: 3em;
  }

  .is--caption {
    font-size: 2.5em;
  }

  .is--pb-0-83em {
    margin-bottom: 1.63em;
  }

  .padding-bottom-large {
    margin-bottom: 2.5em;
  }

  .is--project-detail {
    font-size: 3em;
  }

  .proj__rich-text {
    font-size: 1vw;
  }

  .proj__rich-text p {
    font-size: 24px;
  }

  .hero__element-img {
    width: 18em;
    height: 18em;
  }

  .hero__element-img._1 {
    margin-right: 4em;
  }

  .hero__element-img._3 {
    margin-right: -4%;
    margin-bottom: 1.93em;
  }

  .heading {
    font-size: 3em;
  }

  .text-block {
    font-size: 3.5em;
  }

  .body-background {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -2;
  }

  .is--proj-heading {
    margin-bottom: 1em;
  }

  .footer__link {
    margin-bottom: 2.5em;
  }

  .link-wrapper__content {
    margin-left: 0em;
  }

  .link-wrapper__content:hover {
    margin-left: 0em;
  }

  .footer-link__arrow {
    width: 5em;
  }

  .footer-link__arrow.left {
    display: none;
  }

  .link-wrapper__content-copy {
    margin-left: 0em;
  }

  .link-wrapper__content-copy:hover {
    margin-left: 0em;
  }

  .menu-button--text {
    font-size: 5em;
    text-align: center;
  }

  .lottie-animation-2 {
    width: 24em;
  }

  .padding-bottom-small {
    margin-bottom: 2.5em;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 8.9em;
  }

  h4 {
    font-size: 5em;
  }

  h5 {
    font-size: 4em;
  }

  h6 {
    font-size: 14px;
  }

  ul {
    font-size: 20px;
  }

  blockquote {
    font-size: 20px;
  }

  .container {
    padding: 48px 4em;
  }

  .container.is--hero {
    padding-top: 2em;
    padding-bottom: 11.25em;
  }

  .container.is--footer {
    padding-top: 12.05em;
  }

  .container.is--project-hero {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .container.is--next-proj {
    font-size: 1vw;
  }

  .nav-home {
    display: block;
  }

  .section {
    padding-top: 0px;
  }

  .section.is--nav {
    padding-top: 0px;
  }

  .section.is--hero {
    padding-top: 0px;
  }

  .display.is--mail {
    font-size: 9em;
  }

  .grid.is--body {
    width: 100%;
  }

  .grid.is--body.is--hero {
    margin-top: 18.1em;
    margin-bottom: 14.95em;
  }

  .grid.is--proj {
    width: 100%;
  }

  .grid.is--proj-alt {
    width: 100%;
  }

  .grid_item.is--nav-logo {
    width: 15%;
  }

  .grid_item.is--menu {
    display: none;
  }

  .grid_item.is--hamburger {
    display: block;
    width: 12em;
    height: 12em;
    padding: 3.24em;
  }

  .grid_item.is--menu-bottom {
    padding-bottom: 0em;
    padding-left: 0em;
  }

  .grid_item.is--contact--footer._w-5 {
    width: 100%;
    margin-top: 2em;
  }

  .grid_item.is--contact--footer-caption._w-2 {
    width: 100%;
    padding-bottom: 8px;
  }

  .grid_item.is--project-yr {
    width: 100%;
    padding-bottom: 3em;
  }

  .grid_item.is--project-pos {
    width: 100%;
    padding-bottom: 3em;
  }

  .grid_item.is--hero-text {
    overflow: hidden;
  }

  .grid_item.is--menu__bottom {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    background-color: transparent;
  }

  .grid_item.is--sticky-logo {
    width: 20%;
  }

  .grid_item.is--service__header {
    padding-bottom: 5.54em;
  }

  .card {
    padding-top: 14.03em;
    padding-bottom: 14.03em;
  }

  .menu_button {
    margin-top: 0px;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .menu_button.nav {
    margin-bottom: 16px;
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .hamburger_icon {
    width: 100%;
    height: 100%;
  }

  .paragraph-small {
    font-size: 20px;
  }

  .nav--button.is--bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 108px;
    height: 108px;
    margin-left: auto;
  }

  .button--text {
    font-size: 20px;
    text-align: center;
  }

  .nav--link {
    display: none;
  }

  .is--big {
    font-size: 24px;
  }

  .is--caption {
    font-size: 20px;
  }

  .padding-bottom-large {
    margin-bottom: 4em;
  }

  .is--project-detail {
    font-size: 24px;
  }

  .proj__rich-text p {
    font-size: 20px;
  }

  .heading {
    font-size: 28px;
  }

  .text-block {
    font-size: 24px;
  }

  .is--proj-heading {
    font-size: 32px;
  }

  .footer__link {
    margin-bottom: 4em;
  }

  .footer-link__arrow {
    width: 6em;
  }

  .menu-button--text {
    padding-bottom: 0px;
    font-size: 40px;
    text-align: center;
  }

  .is--service-text-content {
    font-size: 8em;
  }

  .lottie-animation-2 {
    width: 32em;
  }

  .is--next-proj {
    font-size: 32px;
  }

  .padding-bottom-small {
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    padding-bottom: 0.2em;
    font-size: 14.7em;
  }

  h2 {
    font-size: 32px;
  }

  h4 {
    font-size: 8em;
  }

  h5 {
    font-size: 5em;
  }

  .container.is--hero {
    padding-top: 2.25em;
  }

  .container.is--navbar {
    padding-right: 4em;
    padding-left: 4em;
  }

  .container.is--footer {
    padding-top: 72px;
  }

  .container.is--project {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .container.is--project-hero {
    padding-top: 2.25em;
    padding-bottom: 5em;
  }

  .container.is--project-body {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .container.is--navbar-bottom {
    z-index: 1000;
    padding-right: 4em;
    padding-left: 4em;
  }

  .container.is--next-project {
    padding-top: 0px;
    padding-bottom: 32px;
  }

  .nav-home {
    display: block;
  }

  .section.is--nav {
    position: fixed;
  }

  .section.is--nav-bottom {
    border-bottom-width: 0px;
    border-bottom-color: transparent;
  }

  .display {
    font-size: 11em;
  }

  .display.is--2 {
    z-index: 3;
  }

  .grid.is--body.is--hero {
    margin-top: 38.75em;
    margin-bottom: 38.75em;
  }

  .grid.is--proj {
    width: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid.is--proj-alt {
    width: 100%;
  }

  .grid.is--nav-bottom {
    z-index: 999;
  }

  .grid_item.is--social {
    width: 30%;
  }

  .grid_item.is--footer-copyright {
    padding-top: 16px;
  }

  .grid_item.is--nav-logo {
    display: block;
    width: 50%;
    padding-bottom: 0em;
  }

  .grid_item.is--menu {
    display: none;
    height: 80vh;
  }

  .grid_item.is--hamburger {
    width: 64px;
    height: 64px;
    padding: 4.64em;
  }

  .grid_item.is--about__header {
    width: 100%;
  }

  .grid_item.is--about__para-3 {
    font-size: 1vw;
  }

  .grid_item.is--about__para-4.is--pt-4-58em {
    width: 100%;
  }

  .grid_item.is--about__para-5.is--pt-4-58em {
    width: 100%;
  }

  .grid_item.is--project__img {
    padding-bottom: 3em;
  }

  .grid_item.is--project__text-content {
    margin-top: 24px;
  }

  .grid_item.is--contact--header {
    margin-bottom: 32px;
  }

  .grid_item.is--contact--footer._w-5 {
    padding-bottom: 24em;
  }

  .grid_item.is--contact--footer-caption._w-2 {
    width: 100%;
    margin-bottom: 8px;
  }

  .grid_item.is--proj__img {
    height: 51em;
    margin-bottom: 5em;
    padding-bottom: 0em;
  }

  .grid_item.is--hero-text.is--5-6em-left {
    margin-left: 0em;
  }

  .grid_item.is--menu__bottom {
    z-index: 200;
    border-bottom-width: 0px;
  }

  .grid_item.is--sticky-logo {
    display: none;
    width: 20%;
  }

  .grid_item.is--service-text {
    width: 100%;
  }

  .grid_item.is--service__header {
    width: 100%;
  }

  .grid_item.next-proj {
    padding-bottom: 0em;
  }

  .main-button {
    font-size: 12px;
  }

  .card {
    padding-top: 27.43em;
    padding-bottom: 27.43em;
  }

  .social_circle {
    font-size: 2em;
  }

  .footer_top-img {
    width: 2em;
  }

  .menu_button {
    display: block;
  }

  .menu_button.nav {
    margin-bottom: 38px;
    padding-bottom: 0px;
  }

  .menu_button.is--hide {
    display: none;
  }

  .paragraph-small {
    font-size: 16px;
  }

  .nav--button.menu {
    display: block;
  }

  .is--big {
    font-size: 24px;
  }

  .is--caption {
    font-size: 20px;
  }

  .is--pb-0-83em {
    margin-bottom: 16px;
  }

  .hero__element-img {
    width: 24em;
    height: 24em;
  }

  .hero__element-img._2 {
    margin-top: -18.01em;
    margin-left: -15%;
  }

  .hero__element-img._1 {
    margin-top: -4.7em;
  }

  .hero__element-img._3 {
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    z-index: 4;
    margin-bottom: -11.27em;
  }

  .heading {
    font-size: 24px;
  }

  .text-block {
    font-size: 24px;
  }

  .lottie-animation-2 {
    width: 62em;
  }

  .heading-2 {
    font-size: 28px;
  }

  .padding-bottom-small {
    margin-bottom: 0em;
  }
}

@font-face {
  font-family: 'Agrandir';
  src: url("/assets/fonts/agrandir-grandlight.otf") format('opentype'), url("/assets/fonts/agrandir-widelight.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agrandir';
  src: url("/assets/fonts/agrandir-regular.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agrandir';
  src: url("/assets/fonts/agrandir-thinitalic.otf") format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Agrandir narrow';
  src: url("/assets/fonts/agrandir-narrow.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agrandir';
  src: url("/assets/fonts/agrandir-textbold.otf") format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agrandir tight';
  src: url("/assets/fonts/agrandir-tight.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Agrandir';
  src: url("/assets/fonts/agrandir-wideblackitalic.otf") format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Agrandir';
  src: url("/assets/fonts/agrandir-grandheavy.otf") format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}